.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings-topborder.auth-topborder {
    z-index: 99999;
}

.settings-back-icon {
    position: absolute;
    width: 45px;
    height: 40px;
    right: 20px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
}

.settings-back-icon-container {
    z-index: 999999;
}