.warning-overlay {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    /* background-color: rgba(0, 0, 0, 0.2); */
    pointer-events: auto;
    z-index: 1002;

}

.warning-container {
    position: fixed;
    z-index: 1003;
    border-radius: 10px;
    background-color: white;
    width: 80vw;
    aspect-ratio: 3;
    /* height: 10vh; */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.warning-warning {
    font-weight: 500;
    font-size: 22px;
    text-align: center;
}

.warning-options {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.warning-buttons {
    padding: 8px 18px;
    border: none;
    border-radius: 8px;
    background-color: #e0e0e0;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s ease, transform 0.1s ease;
}

.warning-buttons:active {
    transform: scale(0.97);
}