.wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1001;
    background: rgba(0, 0, 0, 0);
    user-select: none;
}

.top-bar {
    position: fixed;
    top: 7%;
    font-size: 20px;
    z-index: 1;
    background-color: rgb(119, 119, 119);
    width: 40vw;
    height: 1.9vw;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 15px 15px 0 0;

    animation: modalGoIn 0.2s ease forwards;
}

/* .categories-container {
    border-radius: 20px 20px 0 0;
    position: fixed;
    z-index: 1002;
    top: 7%;
    width: 100%;
    height: 93%;
    background: rgba(245, 246, 246, 1);
    display: flex;
    gap: 5vw;
    flex-wrap: wrap;
    justify-content: center;

    animation: modalGoIn 0.2s ease forwards;
} */

.categories-outer-container {
    background: rgba(245, 246, 246, 1);
    border-radius: 20px 20px 0 0;
    position: fixed;
    z-index: 1002;
    top: 7%;
    height: 93%;
    left: 0;
    right: 0;
    overflow: none;

    animation: modalGoIn 0.2s ease forwards;

}

.categories-container {
    /* background: rgb(89, 233, 233); */
    background: rgba(245, 246, 246, 1);
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 15px;
    height: 80%;
    padding: 15px;
    justify-content: center;
    align-items: start;
    overflow-y: auto;
    overflow-x: hidden;

    animation: modalGoIn 0.2s ease forwards;
}

.go-out {
    animation: modalGoOut 0.2s ease forwards;
}

/* .category-item {
    width: 25%;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
} */

.category-item {
    width: 100%;
    max-width: 260px;
    /* prevents giant buttons on ultra-wide screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4px;
    position: relative;
}

.category-button {
    width: 100%;
    aspect-ratio: 1;
    /* keep it a circle */
    backdrop-filter: blur(20px);
    border: 0;
    border-radius: 50%;
    z-index: 2;
}

/* .category-button {
    width: 25vw;
    aspect-ratio: 1;
    backdrop-filter: blur(20px);
    border: 0;
    border-radius: 50%;
    z-index: 2;
} */


.cat-icons {
    width: 60%;
    aspect-ratio: 1;
}

/* .cat-icons {
    width: 15vw;
    aspect-ratio: 1;
} */

.income {

    height: 15vw;
    aspect-ratio: 1;
}

.expenses-container {
    position: relative;
    height: 20%;
}

.category-item {
    position: relative;

}

.back-color {
    position: absolute;
    width: 42%;
    aspect-ratio: 1;
    border-radius: 50%;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}


.close {
    font-size: 25px;
    width: 8vw;
    border-radius: 50%;
    aspect-ratio: 1;
    top: 90%;
    border: none;
    filter: invert(51%) sepia(81%) saturate(327%) hue-rotate(314deg) brightness(99%) contrast(92%);
    /* https://codepen.io/sosuke/pen/Pjoqqp */
}

.close-container {
    position: fixed;
    top: 90%;
    left: 5%;
    background-color: rgba(89, 89, 89, 0.2);
    width: 12vw;
    border-radius: 50%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: closeUp 0.2s ease forwards;

}

.close-container.closeDown {
    animation: closeDown 0.2s ease forwards;
}

.button-wrapper {
    margin: 6px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes closeUp {
    0% {
        top: 180%;
    }

    100% {
        top: 90%;
    }
}

@keyframes closeDown {
    0% {
        top: 90%;
    }

    100% {
        top: 180%;
    }
}


@keyframes modalGoIn {
    0% {
        top: 100%;

    }

    100% {
        top: 7%;

    }
}

@keyframes modalGoOut {
    0% {
        top: 7%;
    }

    100% {
        top: 100%;
    }
}