input {
  color: black;
  border: none;
  background: none;
  font-size: 16px;
  border-bottom: 0 solid gray;
  padding: 4px 6px;
  outline: none;
  cursor: pointer;
  display: block;
}

.price-container {
  display: flex;
  align-items: center;
  gap: 2px;
  /* padding-right: 0px; */
  /* margin-right: 0px; */
  /* font-size: 12px; */
}

.price-container::before {
  content: "$";
  /* padding-right: 4px; */
}