.expenses-body {
    padding-bottom: 180px;
    /* Leaves space for the navbar at bottom */
    /* max-height: 100vh; */
    /* overflow-y: auto; */
}

ul {
    list-style-type: none;
    padding: 0;
    font-size: 18px;
}

.item-icon {
    width: 18px;
    aspect-ratio: 1;
    padding-left: 10px;
    user-select: none;
}

.date-header {
    font-size: 12px;
    border-radius: 13px;
    margin: 8px 0 8px 0;
    font-weight: 500;
    padding: 8px 12px;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 4px 10px -4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.date-header.first {
    margin: 0px;
    border-radius: 0 0 13px 13px;

}

.expense-list {
    padding-left: 0px;
    margin: 0px;
}

.expenses {
    padding-left: 10px;
    font-size: 16px;
    text-align: right;
}

.item-header {
    display: flex;
    padding-bottom: 5px;
    justify-content: space-between;
    align-items: center;
}

.is-note {
    right: 4.5px;
    position: absolute;
    width: 8px;
    aspect-ratio: 1;
    background-color: rgb(255, 149, 0);
    border-radius: 50%;
}

.item-name {
    white-space: nowrap;
}

.item-price {
    white-space: nowrap;
}

.real-currency {
    padding-left: 2px;
    font-size: 12px;
    color: rgb(103, 103, 103);
}

.item-actions {
    padding: 0 15px;
    display: flex;
    align-items: center;
}

.remove {
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: rgb(255, 255, 255);
    padding: 2px 8px;
    text-decoration: none;
    display: flex;
    font-size: 14px;
    margin-left: 2px;
    cursor: pointer;
}