.home {
  margin-bottom: 170px;
}

.home-banner {
  width: 100%;
}

.box-container {
  display: flex;
  gap: 15px;
  /* optional spacing between boxes */
  flex-wrap: nowrap;
  /* optional: makes them wrap on small screens */
  overflow-x: scroll;
  /* allows horizontal scrolling if needed */
  -webkit-overflow-scrolling: touch;
  padding: 6px 15px 6px 15px;
  /* justify-content: center; */
  scroll-snap-type: x mandatory;
  /* enables snap scrolling */
  scroll-snap-stop: always;
  -webkit-overflow-scrolling: touch;

}

.box-container::-webkit-scrollbar {
  display: none;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  border: 1px solid #ccc;
  padding: 6px 10px;
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
  width: 34vw;
  height: 60px;
  margin: 0 0px;
  box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.2);
  text-align: left;
  scroll-snap-align: start;
}

.title {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  color: #333;
}

.number {
  font-size: 24px;
  font-family: "inter";
  display: block;
  font-weight: 500;
  text-align: center;
  color: rgb(7, 43, 0);
  padding-top: 0px;
  /* Move the text down */
}

.box-container::-webkit-scrollbar {
  height: 6px;
}

.box-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.select-container {
  display: flex;
}

.range-frame-select {
  margin-left: 15px;
  padding-top: 15px;
}

.select-frame-tab {
  white-space: nowrap;
}

.reset {
  background-color: rgb(255, 0, 0);
  /* Green */
  border: none;
  color: rgb(255, 255, 255);
  /* padding: 6px 16px; */
  bottom: 10%;
  left: 90%;
  /* Start from the middle */
  transform: translateX(-90%);
  /* Shift back by half width */
  position: fixed;
  /* margin: 30px 30px; */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.chart-wrapper {
  display: flex;
  justify-content: center;
}

.chart-container {
  background-color: rgba(142, 142, 142, 0.2);
  box-shadow: 0 0px 10px rgba(0, 0, 0, 0.119);
  padding: 0 0 20px 5px;
  margin: 20px 0 0 0;
  border-radius: 20px;
  width: 95%;
  user-select: none;
}

.pie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: blue; */
  background-color: rgba(142, 142, 142, 0.2);
  border-radius: 15px;
  box-shadow: 0 0px 15px rgba(0, 0, 0, 0.119);
  width: 80vw;
  margin: 20px auto auto auto;
  padding: 0 5px;
  /* background-color: white; */
  user-select: none;
}

.pie-container {
  display: flex;
  justify-content: center;
  height: 275px;
  width: 80vw;
  margin: 5px 5px 0 5px;
  /* left: 50 */
}



.categories-total {
  /* background-color: rgba(142, 142, 142, 0.2); */
  /* background-color: rgba(155, 155, 155, 0.831); */
  /* box-shadow: 0 5px 15px rgba(0, 0, 0, 0.119); */
  /* border-radius: 0 0 15px 15px; */
  border-top: 1px solid rgb(197, 197, 197);
  padding: 5px 0 15px 0;
  width: 92%;
  font-size: 15px;
  /* box-sizing: border-box; */
}

.category-header {
  display: flex;
  padding: 2px 5px;
  justify-content: space-between;
  /* gap: 20px; */
}

.icon-title {
  width: auto;
  flex: 1;
}

.cat-icon {
  width: 8%;
  color: rgb(7, 43, 0);
  aspect-ratio: 1;
  padding-right: 6px;
}