.home {
  margin-bottom: 75px;
}

.box-container {
  display: flex;
  gap: 10px;
  /* optional spacing between boxes */
  flex-wrap: nowrap;
  /* optional: makes them wrap on small screens */
  overflow-x: scroll;
  /* allows horizontal scrolling if needed */
  -webkit-overflow-scrolling: touch;
  padding: 6px 0;
  /* justify-content: center; */
}

.box {
  flex: 0 0 auto;
  border: 1px solid #ccc;
  padding: 6px 16px;
  /* padding: 16px; */
  border-radius: 10px;
  background-color: rgb(249, 249, 249);
  width: 130px;
  height: 60px;
  /* padding: 10px 0; */
  margin: 0 10px;
  box-shadow: 0.5px 2px 4px rgba(0, 0, 0, 0.2);
  /* box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37); */
  text-align: left;
}

.title {
  text-align: left;
  font-weight: 400;
  font-size: 12px;
  margin-bottom: 10px;
  color: #333;
  display: block;
}

.number {
  font-size: 26px;
  font-family: "inter";
  display: block;
  font-weight: 500;
  text-align: center;
  color: rgb(7, 43, 0);
  padding-top: 0px;
  /* Move the text down */
}

.box-container::-webkit-scrollbar {
  height: 6px;
}

.box-container::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}

.spendi {
  text-align: center;
  font-size: 36px;
  font-weight: 500;
  color: rgb(23, 66, 14);
}

.reset {
  background-color: rgb(255, 0, 0);
  /* Green */
  border: none;
  color: rgb(255, 255, 255);
  /* padding: 6px 16px; */
  bottom: 10% 1;
  left: 90%;
  /* Start from the middle */
  transform: translateX(-90%);
  /* Shift back by half width */
  position: fixed;
  /* margin: 30px 30px; */
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  font-weight: bold;
}

.chart-container {
  background-color: rgba(142, 142, 142, 0.2);
  padding: 0 0 20px 5px;
  margin: 20px 0 0 0;
  border-radius: 20px;
}

.pie-container {
  display: flex;
  justify-content: center;
  height: 275px;
  width: 70%;
  margin: 5px;

  /* left: 50 */
}

.pie-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}