.create-sec-cat-overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    backdrop-filter: blur(4px);
}

.create-sec-cat-container {
    position: fixed;
    background-color: white;
    padding: 28px;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.sec-cat-selector-create-container {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: end;
    padding: 5px 5px;
}

.sec-cat-plus-icn {
    width: 25px;
    height: 25px;
}